body {
    margin: 0;
    padding: 0;
    background-color: #545E63; /* Цвет фона, как на изображении */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    background-color: #EEE9E9;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    display: flex;
    top: 0;
    width: 400px;
    height: 60px;
    justify-content: center;

}

.button1 {
    background-color: chartreuse;
    width: 300px;
    justify-content: center;
}

.nav-bar button {
    background-color: #D9D9D9;
    border: none;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 40px;
    border-radius: 30px;
}

.nav-bar button:hover {
    background-color: #545e63;
}

.board-lists {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 блока в ряду */
    gap: 60px; /* Расстояние между блоками */
    justify-items: center; /* Центрируем содержимое блоков */
    margin: 50vi auto 0; /* Добавляем отступ сверху */

}

.board-item {
    background-color: #D8E9D4;
    padding: 20px;
    text-align: center;
    width: 300px; /* Занимает всю ширину ячейки сетки */
    height: 300px;
    box-sizing: border-box;
}

.board-item h1 {
    margin-top: 285px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

