<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Simple Navigation</title>
    <link rel="stylesheet" th:href="@{/main-page.css}">
</head>
<body>
<div class="nav-bar">
    <form th:action="@{/boards/create}" method="post">
        <button type="submit">+</button>
    </form>
    <button></button>
    <button></button>
    <button></button>
</div>

<div class="board-lists" >
    <a th:href="@{/boards/{boardId}(boardId=${board.id})}" th:each="board: ${boards}" >
        <div class="board-item">
            <h1 th:text="${board.name} + ' ' + ${board.id} "></h1>
        </div>
    </a>
</div>
</body>
</html>