<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Simple Navigation</title>
    <link rel="stylesheet" th:href="@{/main-page.css}">
</head>
<body>
<div class="nav-bar">
    <form th:action="@{/boards/create}" method="post">
        <button type="submit">+</button>
    </form>
    <button></button>
    <button></button>
    <button></button>
</div>

<div class="board-lists" >
    <div class="board-item" th:each="board: ${boards}">
        <a  th:href="@{/boards/{boardId}(boardId=${board.id})}">
            <h1 th:text="${board.name}"></h1>
            <h1 th:text="${board.id}"></h1>
        </a>
    </div>

</div>
</body>
</html>